body {
  background: #efefef
}
.themed {
  display: block;
  width: 250px;
  height: 100px;
  background: #FFF;
  color: #000;
  &:after {
    display:block;
    content: "Default Light mode";
  }
}
@media (prefers-color-scheme: dark) {
  .themed {
    background: #000;
    color: #FFF;
    &:after {
      content: "Dark mode Detected";
    }
    
  }
}